th {
  color: black !important;
}
.search_lottie {
  height: 20vh;
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .search_lottie {
    height: 30vh;
  }
}
/* desktop*/

@media all and (min-width: 1025px) {
  .search_lottie {
    height: 30vh;
  }
}
