<!-- ascoltare evento di navbar emesso, che prende metodo newuSER (creare evento onNewUser in ts) -->
<!-- <app-nav (onNewUser)="newUser()"></app-nav> -->
<!-- con la navigazione non serve (onNewUser)="newUser()" -->
<app-nav></app-nav>
<div class="container mt-3">
  <h1>Users Management Bee System</h1>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
        <!-- il router outlet renderizzerà il componente -->
        <!-- <div class="user col-md-9">
          <app-users (updateUser)="updateUser($event)"></app-users>
        </div>
        <div class="userDetails col-md-3" *ngIf="showForm">
          <app-user-detail [user]="userSelected"></app-user-detail>
        </div> -->
        <div
          *ngIf="isHomeRoute()"
          class="banner_welcome d-flex flex-column align-items-center"
        >
          <div class="welcome_message">
            <h1 class="text-center text-capitalize">
              Welcome admin! <br />
              choise
            </h1>
            <div class="actions mt-5 d-flex justify-content-around">
              <button
                class="btn btn-primary text-capitalize mx-1"
                routerLink="/users/new"
              >
                New User <i class="fas fa-upload"></i>
              </button>
              <button
                class="btn btn-primary text-capitalize mx-1"
                routerLink="users"
              >
                see users <i class="fas fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="bee">
            <lottie-player
              src="https://assets6.lottiefiles.com/packages/lf20_hcae8wxn.json"
              background="transparent"
              speed="1"
              loop
              autoplay
            ></lottie-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
